extends layout

block content
	h1.page-header About Me
	p.lead My name is Billel ATTOUCHI and I believe in D.R.Y, so if you want to know more baout me you can visit my personal website by clicking 
		a(href="http://billelattouchi.me") Here
