doctype html
html(lang='en')
	head
		//- Just indent to the left when you want it to become non-commented-out
			meta(name='viewport', content='width=device-width, initial-scale=1.0')
			title= title
			link(rel='stylesheet', type='text/css', href='stylesheets/bootstrap.min.css')
			link(rel='stylesheet', href='fancybox/jquery.fancybox-v=2.1.5.css', type='text/css', media='screen')
			link(rel='stylesheet', href='stylesheets/font-awesome.min.css')
			link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
			link(href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext', rel='stylesheet', type='text/css')
			link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= title
		link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header
					a.navbar-brand(href='/') City of Lights
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
						span.icon-bar
						span.icon-bar
						span.icon-bar
				.navbar-main.navbar-collapse.collapse.pull-right
					ul.nav.navbar-nav
						li
							a(href='about') About
		block content
		footer
			.row
				.col-xs-12
					small.pull-right This website was created and is maintained by Billel ATTOUCHI
	//-
		script(src='javascripts/html5shiv.js')
		script(src='javascripts/jquery-1.10.2.min.js')
		script(src='javascripts/jquery-migrate-1.2.1.min.js')
		script(src='javascripts/bootstrap.min.js')
		script(src='javascripts/jquery.easing.1.3.js')
		script(type='text/javascript', src='fancybox/jquery.fancybox.pack-v=2.1.5.js')
		script(src='javascripts/script.js')
	script(src='/javascripts/jquery-1.11.1.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')